.container {
    position: relative;
}

.children {
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translate(-50%);
}

.containerHover:hover .popup {
    display: block;
}

.popupText {
    display: block;
    border-radius: 8px;
    white-space: nowrap;
    padding: 0.2rem 0.6rem;
}

.popupTriangle {
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-top: 6px solid transparent;
    margin: 0 auto;
}