.container {
    display: inline-block;
    color: #fff;
    padding: 0 0.1rem;
    transform: translate(0, 0.3rem);
    cursor: pointer;
}

.widget {
    display: flex;
    align-items: center;
    padding: 0 0.6rem 0 0.2rem;
    border-radius: 100px;
}

.userAvatar {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: 0.4rem;
}

.userTag {
    display: flex;
    font-size: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.userUsername {
    font-weight: bold;
}

.userDiscriminator {
    color: gray;
}